* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    border: none;
    outline: none;
}

.wrapper {
    max-width: 1440px;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

nav {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 34px 120px;
}

.center {
    display: flex;
    gap: 47px;
}

.center a {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #2B2B2B;
}

.center a:hover{
color:#F95555;
}

.right {
    display: flex;
    gap: 39px;
}

.right input {
    background: none;
}

.right :nth-child(1) {
    background: none;
}

.right :nth-child(2) {
    width: 56px;
    height: 56px;
    background: #FFFFFF;
    border-radius: 85px;
    filter: drop-shadow(0px 2px 30px rgba(249, 85, 85, 0.3));
}

.section1 {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 30px 128px 160px 120px;
    border-top: 1px solid #F0F0ED;
}

.curly {
    position: absolute;
    left: 625px;
    top: 420px;
}

.discount {
    position: absolute;
    right: 470px;
    top: 150px;
    width: 154px;
    height: 144px;
    background: #FFFFFF;
    box-shadow: 0px 10px 30px rgba(43, 43, 43, 0.2);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.discount p {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #000000;
    line-height: 32px;
}

.discount p::before {
    content: "10%";
    display: block;
    color: #F95555;
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 8px;
}

.sec1-left {
    width: 594px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    width: 366px;
    height: 44px;
    display: flex;
    align-items: center;
    gap: 16px;
    background: rgba(249, 85, 85, 0.05);
    border-radius: 30px;
}

.img {
    width: 80px;
    height: 44px;
    background: #F95555;
    border-radius: 22px 0px 0px 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header p {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #2B2B2B;
}

.sec1-left p:not(.header>p) {
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    text-transform: capitalize;
    color: #2B2B2B;
    margin-top: 36px;
    margin-bottom: 20px;
}

.sec1-left>p>b {
    color: #F95555;
}

.sec1-left span {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #4A4A4A;
}

.links {
    display: flex;
    justify-content: space-between;
    width: 423px;
    margin-top: 40px;
    margin-bottom: 50px;
}

.general-link {
    width: 206px;
    height: 56px;
    color: #F95555;
    border: 2px solid #F95555;
    border-radius: 4px 20px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    padding-top: 16px;
}

.general-link:hover {
    background-color: #F95555;
    color: white;
}

.meals {
    display: flex;
    justify-content: space-between;
}

.meal {
    position: relative;
    width: 180px;
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 27px;
    background: transparent;
    background-image: url(./img/Rectangle\ 40166.png);
}

.meal img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    top: -15px;
}

.meal span {
    margin-top: 88px;
    font-weight: 600;
    font-size: 18px;
    color: #F95555;
}

.sec1-right {
    width: 408px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 45px;
}

.delivery {
    height: 70px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 15px;
}

.photo {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #FFFFFF;
    box-shadow: 0px 10px 30px rgba(43, 43, 43, 0.2);
}

.photo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


.delivery span {
    font-weight: 400;
    font-size: 18px;
    color: #4A4A4A;
    border-left: 2px solid #F95555;
    padding-left: 16px;
}

.section2 {
    width: 100%;
    padding: 0 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
}

.section2 p {
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    color: #2B2B2B;
    margin-bottom: 40px;
}

.dishes {
    width: 100%;
    display: flex;
    gap: 48px;
    justify-content: space-between;
}

.dish {
    padding: 0 30px 30px 30px;
    width: 368px;
    height: 430px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./img/Subtract.png);
    background-repeat: no-repeat;
}

.dish>img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    transform: translateY(-20px);
    box-shadow: 0px 10px 30px rgba(43, 43, 43, 0.2);
}

.dish p {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #2B2B2B;
}

.dish span {
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #686868;
}

.price {
    display: flex;
    gap: 45px;
    margin-top: 42px;
}

.price span {
    font-weight: 600;
    font-size: 28px;
    color: #2B2B2B;
}

.price button {
    width: 165px;
    height: 56px;
    color: #2B2B2B;
    border: 1px solid #F4F4F4;
    border-radius: 4px 20px;
    background: transparent;
}

.price button:hover {
    color: #F95555;
}

.gl-2 {
    width: 239px;
    color: #FFFFFF;
    background-color: #F95555;
}

.section3 {
    width: 100%;
    height: 1505px;
    background-image: url(./img/Rectangle\ 40167.png);
    background-size: cover;
    margin-top: 120px;
    padding: 120px 120px 160px 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-container {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background: #FFFFFF;
    box-shadow: 0px 10px 30px rgba(43, 43, 43, 0.2);
    transform: translateY(-30px);
    display: flex;
    align-items: center;
    justify-content: center;

}

.dish2 {
    justify-content: space-evenly;
}

.dish2 p {
    color: #F95555;
}

.dish2 a {
    font-weight: 600;
    font-size: 20px;
    margin-top: 24px;
    color: #2B2B2B;
    display: flex;
    gap: 10px;
    align-items: center;
}

.section4 {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 510.37px;
    margin-top: 200px;
    padding-bottom: 164px;
    gap: 60px;
}

.girl{
    transform: translateY(50px);
}

.position {
    position: absolute;
    left: 250px;
    top: -30px;
    font-weight: 900;
    font-size: 50px;
    line-height: 120%;
    text-transform: capitalize;
    color: #2B2B2B;


}

.curly2 {
    position: absolute;
    bottom: 90px;
    left: 250px;

}

.sec4-left {
    width: 390px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.girl {
    width: 368px;
    height: 400px;
}

.sec4-left span {
    font-weight: 400;
    font-size: 18px;
    line-height: 170%;
    text-transform: capitalize;
    color: #4A4A4A;
}

.sec4-right {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.sec4-right .box .delivery span{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.sec4-right .box .delivery span b{
    font-weight: 600;
font-size: 20px;
color: #4A4A4A;
}

.sec4-right .box span {
    font-weight: 400;
    font-size: 16px;
    color: #878787;
}

.sec4-right .box p {
    margin-top: 8px;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 24px;
    line-height: 140%;
    color: #000000;
}

.box1 {
    border-bottom: 2px solid #878787;
    padding-bottom: 40px;
}

.section5 {
    width: 100%;
    padding: 140px 120px;
    display: flex;
    justify-content: space-between;
}

.sec5-right {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.sec5-right p {
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 20px;
    color: #2B2B2B;
}

.reaction {
    width: 560px;
    height: 358px;
    background: #FFFFFF;
    border: 1px solid #F4F4F4;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    gap: 40px;
}

.reaction span {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.reaction span b:not(.delivery span b) {
    width: 152px;
    height: 26px;
    background: #ECFDF5;
    border-radius: 4px;
    font-weight: 600;
    font-size: 12px;
    color: #064E3B;
    padding: 6px 12px;
}

small:not(.delivery span small) {
    font-weight: 400;
    font-size: 12px;
    color: #64748B;
}

i {
    font-style: italic;
    font-weight: 550;
    font-size: 20px;
    color: #2B2B2B;
}

.reaction .delivery {
    width: 100%;
    padding: 0;
    height: 70px;
}

.reaction .delivery span {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
}

.reaction .delivery span b {
    font-weight: 600;
    font-size: 20px;
    color: #4A4A4A;
}

.reaction .delivery span small {
    font-weight: 400;
    font-size: 16px;
    color: #878787;
}

.reaction .delivery span img {
    width: 105px;
    height: 16px;
    margin-top: 3px;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.buttons button {
    width: 100px;
    height: 48px;
    background: transparent;
    border-radius: 4px 20px;
    border: 1px solid #F4F4F4;
}

.buttons button:hover {
    background: #F95555;
    color: white;
}

.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 48px;

}

.footer-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #FDD5D5;
    border-bottom: 1px solid #FDD5D5;
    padding: 48px 120px;

}

.top-left {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.top-left p {
    width: 166px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #2B2B2B;
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-links p {
    font-weight: 600;
    font-size: 16px;
    color: #878787;
    margin-bottom: 4px;
}

.footer-links a {
    font-weight: 500;
    font-size: 18px;
    color: #2B2B2B;
}

.footer-links a:hover {
    color: #F95555;
}

.footer-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 48px 120px;
}

.footer-bottom span {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.footer-bottom span::first-letter {
    color: #F95555;
}

.networks {
    display: flex;
    gap: 24px;
}